.search-filter-container {
  display: flex;
  flex-direction: column;
}

.search-filter-title {
  margin-right: 10px;
  margin-left: 10px;
}

.search-filter-btn {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  height: 50px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // margin-left: 10px;
  // position: sticky;
  // position: -webkit-sticky;
  // height: 350px;
  // width: 300px;
  // top: 10px;
  &-common {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    border-radius: 3px;
    &:hover {
      // color: #f87e0a;
      cursor: pointer;
      background-color: #f87e0a;
    }
  }

  &-price {
    // height: 50px;
    // padding: 10px;
    select {
      padding: 5px;
    }
  }
}

.search-filter-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(4, 1fr) minmax(200px, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 20px;
  .search-filter-item {
    border-radius: 7px;
    width: 260px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
  .search-item-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  .search-item-name {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1300px) {
  .search-filter-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 1200px) {
  .search-filter-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .search-filter-list {
    grid-template-columns: 1fr;
  }
}