.info {

  .info_title {
    margin: 20px 0;
  }

  .info_content {

    width: 85%;
    margin: auto;
    text-align: left;
    margin-top: 30px;

    ul {
      li {
        padding: 10px 0;
        font-size: 18px;
        color: black;
      }
    }
  }
}