.commodity {
    text-align: start;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 30px 5%;
    
    .commodity-home {
      // margin: 30px 0px;
      text-align: center;
      font-size: 14px;
      a{
        color: black;
      }
    }
    .commodity-title {
      font-size: 28px;
      font-weight: 700;
      margin: auto;
      text-align: center;
      margin: 40px 0px;
    }
    .commodity-bold {
      font-size: 16px;
      font-weight: 700;
    }
    .commodity-text {
      font-size: 16px;
      span {
        font-weight: 700;
      }
    }
    table {
      width: 100%;
      font-size: 16px;
      td {
        border: 1px solid #ddd;
        p {
          font-weight: 400;
          span {
              font-weight: 700;
            }
        }
        span {
          font-weight: 700;
        }
      }
      td:nth-child(1) {
        width: 30%;
      }
      td:nth-child(2) {
        width: 70%;
      }
      th {
        border: 1px solid #ddd;
        text-align: center;
        span {
          font-weight: 700;
        }
        p {
          font-weight: 400;
          span {
              font-weight: 700;
            }
        }
      }
  
      border-collapse: collapse;
  
      th,
      td {
        padding: 15px;
      }
    }
  }
  
  @media (max-width: 500px) {
      .commodity{
          .commodity-home{
              font-size: 12px;
          }
          .commodity-title{
              font-size: 20px;
          }
          .commodity-bold{
              font-size: 12px;
          }
          .commodity-text{
              font-size: 12px;
          }
          table{
              font-size: 12px;
          }
      }
    }