.cart-page {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 500px;
  // overflow: hidden;
  // overflow-y: hidden;
  text-align: start;
  .cart-choose-all {
    height: 55px;
    width: 72%;
    // display: flex;
    align-items: center;
    padding-left: 30px;
    input {
      margin-right: 30px;
    }
    font-size: 18px;
    font-weight: 500;
    color: var(--orange-home);
  }
  .cart-page-list {
    width: 72%;
    // margin-bottom: -400px;
    .cart-page-item {
      padding: 20px 30px;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 0.3fr 1fr 4fr 2fr 1fr;
      // align-items: center;
      position: relative;
      input[type="checkbox"] {
        margin-right: 20px;
        margin-left: 10px;
      }
      input[type='number']{
        height: 20px;
        // border: none;
        border:1px solid var(--grey-product);
        // border-radius: 5px;
        width: 50px;
      }
      .cart-item-img{
        height: 100px;
        width: 120px;
      }
      .cart-page-trash{
        position: absolute;
        bottom: 25px;
        right: 25px;
        height: 39px;
        width: 39px;
        img{
          padding-top: 10px;
        }
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
        border-radius: 50px;
      }
      .cart-page-item-checkbox{
        display: flex;
        align-items: center;
        height: 100%;
      }
      .cart-page-item-price{
        font-size: 18px;
        font-weight: 500;
        float: right;
        margin-left: 40px;
        // align-items: flex-start;
      }
      .cart-page-name-product{
        margin-left: 15px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
          span{
            margin-right: 20px;
          }
        }
      }
      .cart-page-item-quantity {
        display: flex;
        align-items: center;
        width: 120px;
        height: 45px;
        justify-content: space-around;
        .height-line{
          height: 90%;
          width: 10px;
          background-color: #aa3c3c;
        }

        p{
          padding-top: 13px;
        }
        border: 1px solid #dbdbdb;
      }
    }
    .cart-page-supplier {
      padding-left: 30px;
      display: flex;
      height: 60px;
      align-items: center;
      font-weight: 500;
      color: #344a9f;
      font-size: 18px;
      input {
        margin-right: 30px;
      }
      img {
        margin-left: 20px;
      }
    }
  }
}

.detail-info-count {
  border: 1px solid #dbdbdb;
  display: flex;
  height: 35px;
  width: 100px;
  justify-content: space-around;
  align-items: center;
  p{
      padding-top: 17px;
  }
}