.account-user{
    // background-color: red;
    // height: 500px;
    width: 85%;
    margin: auto;
    grid-template-columns: 2fr 7fr;
    display: grid;
    gap:30px;
    text-align: start;
    margin-top: 40px;
    .account-user-list{
        // background-color: yellow;
    }
    .account-user-info{
        // background-color: red;
        
    }
}