.fixed-navbar {
    background-color: #FA6F34;
    height: 50px;
    width: 50px;
    position: fixed;
    transform: translateX(200px);
    bottom: 80px;
    transition: 0.8s;
    right: 44px;
    border-radius: 9.38px;
    z-index: 100;

  

    img {
        border-radius: 9.38px;
    }



}
.fixed-navbar-active {
    background-color: #FA6F34;
    height: 50px;
    width: 50px;
    position: fixed;
    transform: translateX(0px);
    bottom: 80px;
    transition: 0.8s;
    right: 44px;
    border-radius: 9.38px;
    z-index: 100;
    img {
        border-radius: 9.38px;
    }
  
  }