.group-create {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #C4C4C4;
  
    p {
        margin: 2%;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
    }

    .group-discover {
        width: 80%;
        height: 40px;
        background-color: #EFEFEF;
        margin: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 2%;

        p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;

        }
    }

    .btn-create-group {
        width: 80%;
        height: 50px;
        background: rgba(248, 126, 10, 0.3);
        ;
        margin: auto;
        margin-top: 10px;
        color: #F87E0A;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;


    }

   

}